

# 01 Data Types and Data Structures

# Basic Variable Types
The basic types of variables in Python are: strings, integers, floating point numbers and booleans.

In [ ]:
my_string1 = 'Welcome to'
my_string2 = "QuantConnect"
print(my_string1 + ' ' + my_string2)

Welcome to QuantConnect

In [ ]:
string1 = "Para gustos,"
string2 = "colores"
print(string1 + " " + string2)

Para gustos, colores

An integer is a round number with no values after the decimal point.

In [ ]:
my_int = 10
print(my_int)
print(type(my_int))

10
<class 'int'>

In [ ]:
x = 125.1
print(x)
print(type(x))

125.1
<class 'float'>

The built-in function int() can convert a string into an integer.

In [ ]:
my_string = "100"
print(type(my_string))
my_int = int(my_string)
print(type(my_int))

<class 'str'>
<class 'int'>

In [ ]:
stri = "1653"
print(type(stri))
intStri = int(stri)
print(type(intStri))

<class 'str'>
<class 'int'>

A floating point number, or a float, is a real number in mathematics. In Python we need to include a value after a decimal point to define it as a float

In [ ]:
my_string = "100"
my_float = float(my_string)
print(type(my_float))

<class 'float'>

In [ ]:
stri2 = "452.2"
floStri2 = float(stri2)
print(type(floStri2))

<class 'float'>

As you can see above, if we don't include a decimal value, the variable would be defined as an integer. The built-in function float() can convert a string or an integer into a float.

In [ ]:
my_bool = False
print(my_bool)
print(type(my_bool))

False
<class 'bool'>

In [ ]:
bol1 = True
print(bol1)
print(type(bol1))

True
<class 'bool'>

A boolean, or bool, is a binary variable. Its value can only be True or False. It is useful when we do some logic operations, which would be covered in our next chapter.

In [ ]:
print("Addition ", 1+1)
print("Subtraction ", 5-2)
print("Multiplication ", 2*3)
print("Division ", 10/2)
print('exponent', 2**3)

Addition  2
Subtraction  3
Multiplication  6
Division  5.0
exponent 8

In [ ]:
print("Adición ", 12+65)
print("Sustracción ", 1-7)
print("Multiplicación ", 9*9)
print("División ", 12/5)
print('Potencia', 3**4)

Adición  77
Sustracción  -6
Multiplicación  81
División  2.4
Potencia 81

# Basic Math Operations

The basic math operators in python are demonstrated below:

In [ ]:
print(1/3)
print(1.0/3)

0.3333333333333333
0.3333333333333333

In [ ]:
print(20/6)
print(20.0/6)

3.3333333333333335
3.3333333333333335

# Data Collections

## List
A list is an ordered collection of values. A list is mutable, which means you can change a list's value without changing the list itself. Creating a list is simply putting different comma-separated values between square brackets.

In [ ]:
my_list = ['Quant', 'Connect', 1,2,3]
print(my_list)

['Quant', 'Connect', 1, 2, 3]

In [ ]:
lista = ["Andrés","Juan",12.5,True]
print(lista)

['Andrés', 'Juan', 12.5, True]

The values in a list are called "elements". We can access list elements by indexing. Python index starts from 0. So if you have a list of length n, the index of the first element will be 0, and that of the last element will be n − 1. By the way, the length of a list can be obtained by the built-in function len().

In [ ]:
my_list = ['Quant', 'Connect', 1,2,3]
print(len(my_list))
print(my_list[0])
print(my_list[len(my_list) -1])

5
Quant
3

In [ ]:
lista = ["Andrés","Juan",12.5,True]
print(len(lista), end=", ")
print(lista[2], end=", ")
print(lista[len(lista)-1])

4, 12.5, True

You can also change the elements in the list by accessing an index and assigning a new value.

In [ ]:
my_list = ['Quant','Connect',1,2,3]
my_list[2] = 'go'
print(my_list)

['Quant', 'Connect', 'go', 2, 3]

In [ ]:
lista = ["Andrés","Juan",12.5,True]
lista[1] = 2
print(lista)

['Andrés', 2, 12.5, True]

A list can also be sliced with a colon:

In [ ]:
my_list = ['Quant','Connect',1,2,3]
print(my_list[1:3])

['Connect', 1]

In [ ]:
lista = ["Andrés","Juan",12.5,True]
print(lista[0:2])

['Andrés', 'Juan']

The slice starts from the first element indicated, but excludes the last element indicated. Here we select all elements starting from index 1, which refers to the second element:

In [ ]:
print(my_list[1:])

['Connect', 1, 2, 3]

In [ ]:
print(lista[2:])

[12.5, True]

And all elements up to but excluding index 3:

In [ ]:
print(my_list[:3])

['Quant', 'Connect', 1]

In [ ]:
print(lista[:2])

['Andrés', 'Juan']

If you wish to add or remove an element from a list, you can use the append() and remove() methods for lists as follows:

In [ ]:
my_list = ['Hello', 'Quant']
my_list.append('Hello')
print(my_list)

['Hello', 'Quant', 'Hello']

In [ ]:
my_list.remove('Hello')
print(my_list)

['Quant', 'Hello']

In [ ]:
lista = ["Hola", "Mundo"]
lista.append("Como están?")
print(lista)

['Hola', 'Mundo', 'Como están?']

In [ ]:
lista.remove("Como están?")
print(lista)

['Hola', 'Mundo']

When there are repeated instances of "Hello", the first one is removed.

## Tuple
A tuple is a data structure type similar to a list. The difference is that a tuple is immutable, which means you can't change the elements in it once it's defined. We create a tuple by putting comma-separated values between parentheses.

In [ ]:
my_tuple = ('Welcome','to','QuantConnect')

Just like a list, a tuple can be sliced by using index.

In [ ]:
my_tuple = ('Welcome','to','QuantConnect')
print(my_tuple[1:])

('to', 'QuantConnect')

In [ ]:
tupla = ("Anuel", "Bad Bunny", "Ozuna")
print(tupla[0:])

('Anuel', 'Bad Bunny', 'Ozuna')

## Set
A set is an **unordered**  collection with **no duplicate** elements. The built-in function **set()** can be used to create sets.

In [ ]:
stock_list = ['AAPL','GOOG','IBM','AAPL','IBM','FB','F','GOOG']
stock_set = set(stock_list)
print(stock_set)

{'FB', 'F', 'GOOG', 'IBM', 'AAPL'}

In [ ]:
lista = ["Mazda", "Toyota", "Toyota", "Mercedes", "Mazda"]
sett = set(lista)
print(sett)

{'Mercedes', 'Toyota', 'Mazda'}

Set is an easy way to remove duplicate elements from a list.

##Dictionary
A dictionary is one of the most important data structures in Python. Unlike sequences which are indexed by integers, dictionaries are indexed by keys which can be either strings or floats.

A dictionary is an **unordered** collection of key : value pairs, with the requirement that the keys are unique. We create a dictionary by placing a comma-separated list of key : value pairs within the braces.

In [ ]:
my_dic = {'AAPL':'AAPLE', 'FB':'FaceBook', 'GOOG':'Alphabet'}

In [ ]:
print(my_dic['GOOG'])

Alphabet

In [ ]:
dic = {"DC":"DCcomics", "MCU":"Marvel", "WAV": "We are Venom"}
print(dic["DC"])

DCcomics

After defining a dictionary, we can access any value by indicating its key in brackets.

In [ ]:
my_dic['GOOG'] = 'Alphabet Company'
print(my_dic['GOOG'])

Alphabet Company

In [ ]:
dic["DC"] = "Comics"
print(dic["DC"])

Comics

We can also change the value associated with a specified key:

In [ ]:
print(my_dic.keys())

dict_keys(['AAPL', 'FB', 'GOOG'])

In [ ]:
print(dic.keys())

dict_keys(['DC', 'MCU', 'WAV'])

The built-in method of the dictionary object dict.keys() returns a list of all the keys used in the dictionary.

# Common String Operations
A string is an immutable sequence of characters. It can be sliced by index just like a tuple:

In [ ]:
my_str = 'Welcome to QuantConnect'
print(my_str[8:])

to QuantConnect

In [ ]:
stri = "Hola Mundo"
print(stri[5:])

Mundo

There are many methods associated with strings. We can use string.count() to count the occurrences of a character in a string, use string.find() to return the index of a specific character, and use string.replace() to replace characters

In [ ]:
print('Counting the number of e appears in this sentence'.count('e'))
print('The first time e appears in this sentence'.find('e'))
print('all the a in this sentence now becomes e'.replace('a','e'))

7
2
ell the e in this sentence now becomes e

In [ ]:
print("we are venom".count("e"))
print("welcome to the jungle".find("l"))
print("when the party is over".replace("e","a"))

3
2
whan tha party is ovar

The most commonly used method for strings is string.split(). This method will split the string by the indicated character and return a list:

In [ ]:
Time = '2016-04-01 09:43:00'
splited_list = Time.split(' ')
date = splited_list[0]
time = splited_list[1]
print(date, time)
hour = time.split(':')[0]
print(hour)

2016-04-01 09:43:00
09

In [ ]:
Time = '2021-10-17 17:36:00'
lista_fecha = Time.split(' ')
fecha = lista_fecha[0]
hora = lista_fecha[1]
print(fecha, hora)
minutos = hora.split(':')[1]
print(minutos)

2021-10-17 17:36:00
36

We can replace parts of a string by our variable. This is called string formatting.

In [ ]:
my_time = 'Hour: {}, Minute:{}'.format('09','43')
print(my_time)

Hour: 09, Minute:43

In [ ]:
gol = "Jugador: {} \nGoles: {}".format("Ronaldo","115")
print(gol)

Jugador: Ronaldo
Goles: 115

Another way to format a string is to use the % symbol.

In [ ]:
print('the pi number is %f'%3.14)
print('%s to %s'%('Welcome','Quantconnect'))

the pi number is 3.140000
Welcome to Quantconnect

In [ ]:
print("%s Dr %s"%("Hola","Mundo") )

Hola Dr Mundo



# 02 Logical Operations and Loops


# Logical Operations
Like most programming languages, Python has comparison operators:

In [ ]:
print(1 == 0)
print(1 == 1)
print(1 != 0)
print(5 >= 5)
print(5 >= 6)

False
True
True
True
False

In [ ]:
print(0==0)
print(15462>165689)
print(123 !=1234)
print(56>=5)
print(-78>85)

True
False
True
True
False

Each statement above has a boolean value, which must be either True or False, but not both.

We can combine simple statements P and Q to form complex statements using logical operators:

- The statement "P and Q" is true if both P and Q are true, otherwise it is false.
- The statement "P or Q" is false if both P and Q are false, otherwise it is true.
- The statement "not P" is true if P is false, and vice versa.

In [ ]:
print(2 > 1 and 3 > 2)
print(2 > 1 and 3 < 2) 
print(2 > 1 or 3 < 2)
print(2 < 1 and 3 < 2)

True
False
True
False

In [ ]:
print(1 == 1 and 3 != 2)
print(20 < -11 and 13 < 22) 
print(98 == 1 or 4 >= -6)
print(75 != 42 or 1 < 2)

True
False
True
True

When dealing with a very complex logical statement that involves in several statements, we can use brackets to separate and combine them.

In [ ]:
print((3 > 2 or 1 < 3) and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))
print(3 > 2 or 1 < 3 and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))

False
True

In [ ]:
print(not((54>2 or 5==5) and ((12<(65!=7)) or (1 == 0))))
print(not(not(2==1)and(1<2) and (555555>5555555)))

True
True

Comparing the above two statements, we can see that it's wise to use brackets when we make a complex logical statement.

# If Statement
An if statement executes a segment of code only if its condition is true. A standard if statement consists of 3 segments: if, elif and else.

```python
if statement1:
    # if the statement1 is true, execute the code here.
    # code.....
    # code.....
elif statement2:
    # if the statement 1 is false, skip the codes above to this part.
    # code......
    # code......
else:
    # if none of the above statements is True, skip to this part
    # code......
```

An if statement doesn't necessarily has elif and else part. If it's not specified, the indented block of code will be executed when the condition is true, otherwise the whole if statement will be skipped.

In [ ]:
i = 0
if i == 0:
    print('i==0 is True')

i==0 is True

In [ ]:
i=1
if i<2:
  print("Hola Mundo")

Hola Mundo

As we mentioned above, we can write some complex statements here:

In [ ]:
p = 1 > 0
q = 2 > 3
if p and q:
    print('p and q is true')
elif p and not q:
    print('q is false')
elif q and not p:
    print('p is false')
else:
    print('None of p and q is true')

q is false

In [ ]:
x = False
y = 12/3 > 2
if x and y:
  print("bbcita")
elif x and not y:
  print("real hasta la muerte")
else:
  print("lo' intocable lo' illuminati")

lo' intocable lo' illuminati

# Loop Structure
Loops are an essential part of programming. The "for" and "while" loops run a block of code repeatedly.

## While Loop
A "while" loop will run repeatedly until a certain condition has been met.

In [ ]:
i = 0
while i < 5:
    print(i)
    i += 1

0
1
2
3
4

In [ ]:
x = 10 
while x>0:
  lista.append(x)
  x-=1
print(lista)

['0', 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

When making a while loop, we need to ensure that something changes from iteration to iteration so that the while loop will terminate, otherwise, it will run forever. Here we used i += 1 (short for i = i + 1) to make i larger after each iteration. This is the most commonly used method to control a while loop.

## For Loop
A "for" loop will iterate over a sequence of value and terminate when the sequence has ended.

In [ ]:
for i in [1,2,3,4,5]:
    print(i)

1
2
3
4
5

In [ ]:
lista1 = ["-1", "0"]
for i in range(1,10):
  lista1.append(i)
print(lista1)

['-1', '0', 1, 2, 3, 4, 5, 6, 7, 8, 9]

We can also add if statements in a for loop. Here is a real example from our pairs trading algorithm:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = []
for i in stocks:
    if i not in selected:
        new_list.append(i)
print(stocks)

['AAPL', 'GOOG', 'IBM', 'FB', 'F', 'V', 'G', 'GE']

In [ ]:
print(lista1)
print(lista)
for i in lista:
  if i in lista1:
    lista.remove(i)
print(lista)

['-1', '0', 1, 2, 3, 4, 5, 6, 7, 8, 9]
['0', 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[10, 8, 6, 4, 2]

Here we iterated all the elements in the list 'stocks'. Later in this chapter, we will introduce a smarter way to do this, which is just a one-line code.

## Break and continue
These are two commonly used commands in a for loop. If "break" is triggered while a loop is executing, the loop will terminate immediately:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    print(i)
    if i == 'FB':
        break

AAPL
GOOG
IBM
FB

In [ ]:
lista = ["Mazda", "Toyota", "Toyota", "Mercedes", "Mazda"]
for i in lista:
  if i == "Mercedes":
    print(i)
    break

Mercedes

The "continue" command tells the loop to end this iteration and skip to the next iteration:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    if i == 'FB':
        continue
    print(i)

AAPL
GOOG
IBM
F
V
G
GE

In [ ]:
lista = ["Mazda", "Toyota", "Toyota", "Mercedes", "Mazda"]
for i in lista:
  if i == "Mercedes":
      continue
  lista.clear()
lista.append("Mercedes")
print(lista)

['Mercedes']

# List Comprehension
List comprehension is a Pythonic way to create lists. Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence. For example, if we want to create a list of squares using for loop:

In [ ]:
squares = []
for i in [1,2,3,4,5]:
    squares.append(i**2)
print(squares)

[1, 4, 9, 16, 25]

In [ ]:
mitades = [5,4,3,2,1]
for i in mitades:
  mitad= i/2
  mitades.remove(i)
  mitades.append(mitad)
print(mitades)

[4, 2, 2.5, 0.5, 0.375]

Using list comprehension:

In [ ]:
list = [1,2,3,4,5]
squares = [x**2 for x in list]
print(squares)

[1, 4, 9, 16, 25]

In [ ]:
mitad = [1,2,3,4,5]
mitades = [x/2 for x in mitad]
print(mitades)

[0.5, 1.0, 1.5, 2.0, 2.5]

Recall the example above where we used a for loop to select stocks. Here we use list comprehension:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = [x for x in stocks if x in selected]
print(new_list)

['AAPL', 'IBM']

In [ ]:
lista = ["Mazda", "Toyota", "Toyota", "Mercedes", "Mazda"]
lista1= ["Mazda"]
lista2= [x for x in lista if x not in lista1]
print(lista2)

['Toyota', 'Toyota', 'Mercedes']

A list comprehension consists of square brackets containing an expression followed by a "for" clause, and possibly "for" or "if" clauses. For example:

In [ ]:
print([(x, y) for x in [1,2,3] for y in [3,1,4] if x != y])
print([str(x)+' vs '+str(y) for x in ['AAPL','GOOG','IBM','FB'] for y in ['F','V','G','GE'] if x!=y])

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]
['AAPL vs F', 'AAPL vs V', 'AAPL vs G', 'AAPL vs GE', 'GOOG vs F', 'GOOG vs V', 'GOOG vs G', 'GOOG vs GE', 'IBM vs F', 'IBM vs V', 'IBM vs G', 'IBM vs GE', 'FB vs F', 'FB vs V', 'FB vs G', 'FB vs GE']

In [ ]:
lista = ["Mazda", "Toyota", "Toyota", "Mercedes", "Mazda"]
lista1 = ["Audi", "Ferrari", "Toyota", "Maseratti", "Mazda"]
print(set([(x,y) for x in lista for y in lista1 if x != y]))

{('Mazda', 'Audi'), ('Mazda', 'Toyota'), ('Mercedes', 'Toyota'), ('Toyota', 'Maseratti'), ('Toyota', 'Ferrari'), ('Mercedes', 'Ferrari'), ('Toyota', 'Mazda'), ('Mercedes', 'Maseratti'), ('Mazda', 'Ferrari'), ('Mazda', 'Maseratti'), ('Mercedes', 'Mazda'), ('Toyota', 'Audi'), ('Mercedes', 'Audi')}



# 03 Functions and Objective-Oriented Programming

# Functions
A function is a reusable block of code. We can use a function to output a value, or do anything else we want. We can easily define our own function by using the keyword "def".

In [ ]:
def product(x,y):
    return x*y
print(product(2,3))
print(product(5,10))

6
50

In [ ]:
def modulo(x,y):
  return x%y
print(modulo(6,2))

0

The keyword "def" is followed by the function name and the parenthesized list of formal parameters. The statements that form the body of the function start at the next line, and must be indented. The product() function above has "x" and "y" as its parameters. A function doesn't necessarily have parameters:

In [ ]:
def say_hi():
    print('Welcome to QuantConnect')
say_hi()

Welcome to QuantConnect

In [ ]:
def hola():
  print(f"la respuesta es: {modulo(24,5)}")
hola()

la respuesta es: 4

# Built-in Function
**range()** is a function that creates a list containing an arithmetic sequence. It's often used in for loops. The arguments must be integers. If the "step" argument is omitted, it defaults to 1.

In [ ]:
print(range(10))
print(range(1,11))
print(range(1,11,2))

range(0, 10)
range(1, 11)
range(1, 11, 2)

**len()** is another function used together with range() to create a for loop. This function returns the length of an object. The argument must be a sequence or a collection.

In [ ]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print('The length of tickers is {}'.format(len(tickers)))
for i in range(len(tickers)):
    print(tickers[i])

The length of tickers is 8
AAPL
GOOG
IBM
FB
F
V
G
GE

In [ ]:
lista1 = ["Audi", "Ferrari", "Toyota", "Maseratti", "Mazda"]
print(f'lista 1: {len(lista1)}')
i=0
while i <len(lista1):
  print(lista1[i])
  i+=1

lista 1: 5
Audi
Ferrari
Toyota
Maseratti
Mazda

Note: If you want to print only the tickers without those numbers, then simply write "for ticker in tickers: print ticker"

**map(**) is a function that applies a specific function to every item of a sequence or collection, and returns a list of the results.

In [ ]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print(list(map(len,tickers)))

[4, 4, 3, 2, 1, 1, 1, 2]

In [ ]:
lista1 = ["Audi", "Ferrari", "Toyota", "Maseratti", "Mazda"]
lista2 = list(map(len,lista1))
for i in range(len(lista1)):
  print(lista1[i] + ": "+ str(lista2[i]))

Audi: 4
Ferrari: 7
Toyota: 6
Maseratti: 9
Mazda: 5

The **lambda operator** is a way to create small anonymous functions. These functions are just needed where they have been created. For example:

In [ ]:
list(map(lambda x: x**2, range(10)))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
list(map(lambda x: x/10,range(5,10)))

[0.5, 0.6, 0.7, 0.8, 0.9]

map() can be applied to more than one list. The lists have to have the same length.

In [ ]:
list(map(lambda x, y: x+y, [1,2,3,4,5],[5,4,3,2,1]))

[6, 6, 6, 6, 6]

In [ ]:
list(map(lambda x,y: x+": "+y, lista, lista1))

['Mazda: Audi',
 'Toyota: Ferrari',
 'Toyota: Toyota',
 'Mercedes: Maseratti',
 'Mazda: Mazda']

**sorted()** takes a list or set and returns a new sorted list

In [ ]:
sorted([5,2,3,4,1])

[1, 2, 3, 4, 5]

In [ ]:
lista1 = ["Audi", "Ferrari", "Toyota", "Maseratti", "Mazda"]
sorted(lista1)

['Audi', 'Ferrari', 'Maseratti', 'Mazda', 'Toyota']

We can add a "key" parameter to specify a function to be called on each list element prior to making comparisons. For example:

In [ ]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
sorted(price_list, key = lambda x: x[1])

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71)]

In [ ]:
lista1 = [("Audi",15), ("Ferrari",14), ("Toyota",95), ("Maseratti",2), ("Mazda",5)]
sorted(lista1, key= lambda x: x[0])

[('Audi', 15), ('Ferrari', 14), ('Maseratti', 2), ('Mazda', 5), ('Toyota', 95)]

By default the values are sorted by ascending order. We can change it to descending by adding an optional parameter "reverse'.

In [ ]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
sorted(price_list, key = lambda x: x[1],reverse = True)

[('GOOG', 911.71), ('FB', 150), ('AAPL', 144.09), ('WMT', 75.32), ('MSFT', 69)]

In [ ]:
lista1 = [("Audi",15), ("Ferrari",14), ("Toyota",95), ("Maseratti",2), ("Mazda",5)]
sorted(lista1, key= lambda x: x[1], reverse= True)

[('Toyota', 95), ('Audi', 15), ('Ferrari', 14), ('Mazda', 5), ('Maseratti', 2)]

Lists also have a function list.sort(). This function takes the same "key" and "reverse" arguments as sorted(), but it doesn't return a new list.

In [ ]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
price_list.sort(key = lambda x: x[1])
print(price_list)

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71)]

In [ ]:
lista1 = [("Audi",15), ("Ferrari",14), ("Toyota",95), ("Maseratti",2), ("Mazda",5)]
lista1.sort(key= lambda x: x[0], reverse=False)
print(lista1)

[('Audi', 15), ('Ferrari', 14), ('Maseratti', 2), ('Mazda', 5), ('Toyota', 95)]

# Object-Oriented Programming
Python is an object-oriented programming language. It's important to understand the concept of "objects" because almost every kind of data from QuantConnect API is an object.

## Class
A class is a type of data, just like a string, float, or list. When we create an object of that data type, we call it an instance of a class.

In Python, everything is an object - everything is an instance of some class. The data stored inside an object are called attributes, and the functions which are associated with the object are called methods.

For example, as mentioned above, a list is an object of the "list" class, and it has a method list.sort().

We can create our own objects by defining a class. We would do this when it's helpful to group certain functions together. For example, we define a class named "Stock" here:

In [ ]:
class stock:
    def __init__(self, ticker, open, close, volume):
        self.ticker = ticker
        self.open = open
        self.close = close
        self.volume = volume
        self.rate_return = float(close)/open - 1
 
    def update(self, open, close):
        self.open = open
        self.close = close
        self.rate_return = float(self.close)/self.open - 1
 
    def print_return(self):
        print(self.rate_return)

In [ ]:
class persona:
  def __init__(self,nombre,peso, estatura, edad):
    self.nombre = nombre
    self.peso = peso
    self.estatura = estatura
    self.edad = edad
    self.imc = float(peso/(estatura**2))

  def actualizar(self, peso, estatura):
    self.peso = peso
    self.estatura = estatura
    self.imc = float(peso/(estatura**2))

  def print_imc(self):
    print(self.imc)

The "Stock" class has attributes "ticker", "open", "close", "volume" and "rate_return". Inside the class body, the first method is called __init__, which is a special method. When we create a new instance of the class, the __init__ method is immediately executed with all the parameters that we pass to the "Stock" object. The purpose of this method is to set up a new "Stock" object using data we have provided.

Here we create two Stock objects named "apple" and "google".

In [ ]:
apple = stock('AAPL', 143.69, 144.09, 20109375)
google = stock('GOOG', 898.7, 911.7, 1561616)

In [ ]:
x = persona('Camilo',80,1.85,24)
y= persona('Camila',52,1.62,21)

Stock objects also have two other methods: update() and print_return(). We can access the attribues of a Stock object and call its methods:

In [ ]:
apple.ticker
google.print_return()
google.update(912.8,913.4)
google.print_return()

0.014465338822744034
0.0006573181419806673

In [ ]:
x.print_imc()
y.print_imc()

23.37472607742878
19.81405273586343

By calling the update() function, we updated the open and close prices of a stock. Please note that when we use the attributes or call the methods **inside a class**, we need to specify them as self.attribute or self.method(), otherwise Python will deem them as global variables and thus raise an error.

We can add an attribute to an object anywhere:

In [ ]:
apple.ceo = 'Tim Cook'
apple.ceo

'Tim Cook'

In [ ]:
x.edad = 25
x.edad

25

We can check what names (i.e. attributes and methods) are defined on an object using the dir() function:

In [ ]:
dir(apple)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'ceo',
 'close',
 'open',
 'print_return',
 'rate_return',
 'ticker',
 'update',
 'volume']

In [ ]:
dir(x)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'calc_imc',
 'edad',
 'estatura',
 'imc',
 'nombre',
 'peso',
 'print_imc']

## Inheritance
Inheritance is a way of arranging classes in a hierarchy from the most general to the most specific. A "child" class is a more specific type of a "parent" class because a child class will inherit all the attribues and methods of its parent. For example, we define a class named "Child" which inherits "Stock":

In [ ]:
class child(stock):
    def __init__(self,name):
        self.name = name

In [ ]:
aa = child('aa')
print(aa.name)
aa.update(100,102)
print(aa.open)
print(aa.close)
print(aa.print_return())

aa
100
102
0.020000000000000018
None

In [150]:
class child(persona):
  def __init__(self,apellido):
    self.apellido = apellido

z = child('Torres')
print(z.apellido)
z.actualizar(78,1.63)
z.print_imc()

Torres
29.357521924046825



# 04 NumPy and Basic Pandas


# NumPy
NumPy is the core library for scientific computing in Python. It provides a high-performance multidimensional array object, and tools for working with these arrays. It also has strong integration with Pandas, which is another powerful tool for manipulating financial data.

Python packages like NumPy and Pandas contain classes and methods which we can use by importing the package:

In [151]:
import numpy as np

## Basic NumPy Arrays
A NumPy array is a grid of values, all of the same type, and is indexed by a tuple of nonnegative integers. Here we make an array by passing a list of Apple stock prices:

In [ ]:
price_list = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
price_array = np.array(price_list)
print(price_array, type(price_array))

[143.73 145.83 143.68 144.02 143.5  142.62] <class 'numpy.ndarray'>

In [ ]:
edades=  [52, 45, 88, 12, 65, 1, 33]
edades_arr = np.array(edades)
print(edades_arr, type(edades_arr))

[52 45 88 12 65  1 33] <class 'numpy.ndarray'>

Notice that the type of array is "ndarray" which is a multi-dimensional array. If we pass np.array() a list of lists, it will create a 2-dimensional array.

In [ ]:
Ar = np.array([[1,3],[2,4]])
print(Ar, type(Ar))

[[1 3]
 [2 4]] <class 'numpy.ndarray'>

In [157]:
arr = np.array([[2,5,7],[1,4,25],[4,19,9]])
print(arr, type(arr))

[[ 2  5  7]
 [ 1  4 25]
 [ 4 19  9]] <class 'numpy.ndarray'>

We get the dimensions of an ndarray using the .shape attribute:

In [ ]:
print(Ar.shape)

(2, 2)

In [158]:
print(arr.shape)

(3, 3)

If we create an 2-dimensional array (i.e. matrix), each row can be accessed by index:

In [ ]:
print(Ar[0])
print(Ar[1])

[1 3]
[2 4]

In [159]:
for i in range(len(arr)):
  print(arr[i])

[2 5 7]
[ 1  4 25]
[ 4 19  9]

If we want to access the matrix by column instead:

In [ ]:
print('the first column: ', Ar[:,0])
print('the second column: ', Ar[:,1])

the first column:  [1 2]
the second column:  [3 4]

In [161]:
print(f'1ra columna: {arr[:,0]}')
print(f'2da columna: {arr[:,1]}')

1ra columna: [2 1 4]
2da columna: [ 5  4 19]

## Array Functions
Some functions built in NumPy that allow us to perform calculations on arrays. For example, we can apply the natural logarithm to each element of an array:

In [ ]:
print(np.log(price_array))

[4.96793654 4.98244156 4.9675886  4.96995218 4.96633504 4.96018375]

In [163]:
print(edades_arr)
print(np.power(edades_arr,2))

[52 45 88 12 65  1 33]
[2704 2025 7744  144 4225    1 1089]

Other functions return a single value:

In [ ]:
print(np.mean(price_array))
print(np.std(price_array))
print(np.sum(price_array))
print(np.max(price_array))

143.89666666666668
0.9673790478515796
863.38
145.83

In [164]:
print(np.mean(edades_arr))
print(np.std(edades_arr))
print(np.sum(edades_arr))
print(np.min(edades_arr))

42.285714285714285
27.814252696436487
296
1

The functions above return the mean, standard deviation, total and maximum value of an array.

# Pandas
Pandas is one of the most powerful tools for dealing with financial data. 

First we need to import Pandas:

In [167]:
import pandas as pd

## Series
Series is a one-dimensional labeled array capable of holding any data type (integers, strings, float, Python object, etc.)

We create a Series by calling pd.Series(data), where data can be a dictionary, an array or just a scalar value.

In [ ]:
price = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
s = pd.Series(price)
s

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
dtype: float64

In [169]:
altura = [1.85,1.82,1.63,1.72,1.91,1.84]
x = pd.Series(altura)
x

0    1.85
1    1.82
2    1.63
3    1.72
4    1.91
5    1.84
dtype: float64

We can customize the indices of a new Series:

In [ ]:
s = pd.Series(price,index = ['a','b','c','d','e','f'])
s

a    143.73
b    145.83
c    143.68
d    144.02
e    143.50
f    142.62
dtype: float64

In [171]:
x = pd.Series(altura, index=['1°','2°','3°','4°','5°','6°'])
x

1°    1.85
2°    1.82
3°    1.63
4°    1.72
5°    1.91
6°    1.84
dtype: float64

Or we can change the indices of an existing Series:

In [ ]:
s.index = [6,5,4,3,2,1]
s

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64

In [172]:
x.index = ['a','b','c','d','e','f']
x

a    1.85
b    1.82
c    1.63
d    1.72
e    1.91
f    1.84
dtype: float64

Series is like a list since it can be sliced by index:

In [ ]:
print(s[1:])
print(s[:-2])

5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64
6    143.73
5    145.83
4    143.68
3    144.02
dtype: float64

In [173]:
print(x[2:])
print(x[:4])

c    1.63
d    1.72
e    1.91
f    1.84
dtype: float64
a    1.85
b    1.82
c    1.63
d    1.72
dtype: float64

Series is also like a dictionary whose values can be set or fetched by index label:

In [ ]:
print(s[4])
s[4] = 0
print(s)

143.68
6    143.73
5    145.83
4      0.00
3    144.02
2    143.50
1    142.62
dtype: float64

In [174]:
print(x[1])
x[1]= 1.2
print(x)

1.82
a    1.85
b    1.20
c    1.63
d    1.72
e    1.91
f    1.84
dtype: float64

Series can also have a name attribute, which will be used when we make up a Pandas DataFrame using several series.

In [ ]:
s = pd.Series(price, name = 'Apple Price List')
print(s)
print(s.name)

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
Name: Apple Price List, dtype: float64
Apple Price List

In [175]:
x = pd.Series(altura, name='Estaturas Clientes')
print(x, x.name)

0    1.85
1    1.82
2    1.63
3    1.72
4    1.91
5    1.84
Name: Estaturas Clientes, dtype: float64 Estaturas Clientes

We can get the statistical summaries of a Series:

In [ ]:
print(s.describe())

count      6.000000
mean     143.896667
std        1.059711
min      142.620000
25%      143.545000
50%      143.705000
75%      143.947500
max      145.830000
Name: Apple Price List, dtype: float64

In [176]:
print(x.describe())

count    6.000000
mean     1.795000
std      0.101735
min      1.630000
25%      1.745000
50%      1.830000
75%      1.847500
max      1.910000
Name: Estaturas Clientes, dtype: float64

## Time Index
Pandas has a built-in function specifically for creating date indices: pd.date_range(). We use it to create a new index for our Series:

In [ ]:
time_index = pd.date_range('2017-01-01',periods = len(s),freq = 'D')
print(time_index)
s.index = time_index
print(s)

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06'],
              dtype='datetime64[ns]', freq='D')
2017-01-01    143.73
2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
2017-01-06    142.62
Freq: D, Name: Apple Price List, dtype: float64

In [179]:
fechas = pd.date_range('2021-05-12', periods=len(x), freq='M')
print(fechas)
x.index = fechas
print(x)

DatetimeIndex(['2021-05-31', '2021-06-30', '2021-07-31', '2021-08-31',
               '2021-09-30', '2021-10-31'],
              dtype='datetime64[ns]', freq='M')
2021-05-31    1.85
2021-06-30    1.82
2021-07-31    1.63
2021-08-31    1.72
2021-09-30    1.91
2021-10-31    1.84
Freq: M, Name: Estaturas Clientes, dtype: float64

Series are usually accessed using the iloc[] and loc[] methods. iloc[] is used to access elements by integer index, and loc[] is used to access the index of the series.

iloc[] is necessary when the index of a series are integers, take our previous defined series as example:

In [ ]:
s.index = [6,5,4,3,2,1]
print(s)
print(s[1])

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
Name: Apple Price List, dtype: float64
142.62

In [180]:
x.index = [6,5,4,3,2,1]
print(x)
print(x[1])

6    1.85
5    1.82
4    1.63
3    1.72
2    1.91
1    1.84
Name: Estaturas Clientes, dtype: float64
1.84

If we intended to take the second element of the series, we would make a mistake here, because the index are integers. In order to access to the element we want, we use iloc[] here:

In [ ]:
print(s.iloc[1])

145.83

In [182]:
print(x.iloc[0])

1.85

While working with time series data, we often use time as the index. Pandas provides us with various methods to access the data by time index

In [ ]:
s.index = time_index
print(s['2017-01-03'])

143.68

In [183]:
x.index = fechas
print(x['2021-08-31'])

1.72

We can even access to a range of dates:

In [ ]:
print(s['2017-01-02':'2017-01-05'])

2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
Freq: D, Name: Apple Price List, dtype: float64

In [185]:
print(x['2021-05-31':'2021-09-30'])

2021-05-31    1.85
2021-06-30    1.82
2021-07-31    1.63
2021-08-31    1.72
2021-09-30    1.91
Freq: M, Name: Estaturas Clientes, dtype: float64

Series[] provides us a very flexible way to index data. We can add any condition in the square brackets:

In [ ]:
print(s[s < np.mean(s)] )
print([(s > np.mean(s)) & (s < np.mean(s) + 1.64*np.std(s))])

2017-01-01    143.73
2017-01-03    143.68
2017-01-05    143.50
2017-01-06    142.62
Name: Apple Price List, dtype: float64
[2017-01-01    False
2017-01-02    False
2017-01-03    False
2017-01-04     True
2017-01-05    False
2017-01-06    False
Freq: D, Name: Apple Price List, dtype: bool]

In [186]:
print(x[x> np.mean(x)])
print([(x < np.mean(x)) & (x < np.mean(x) + 1.5*np.std(x))])

2021-05-31    1.85
2021-06-30    1.82
2021-09-30    1.91
2021-10-31    1.84
Name: Estaturas Clientes, dtype: float64
[2021-05-31    False
2021-06-30    False
2021-07-31     True
2021-08-31     True
2021-09-30    False
2021-10-31    False
Freq: M, Name: Estaturas Clientes, dtype: bool]

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png"> <img style="display: block; margin: auto;" alt="photo" src="https://www.marketing-branding.com/wp-content/uploads/2020/07/google-colaboratory-colab-guia-completa.jpg " width="50" height="50">
<img style="display: block; margin: auto;" alt="photo" src="https://upload.wikimedia.org/wikipedia/commons/d/da/Yahoo_Finance_Logo_2019.svg" width="50" height="50">  

Quantconnect -> Google Colab with Yahoo Finance data

Introduction to Financial Python
</div>

# 05 Pandas-Resampling and DataFrame

# Introduction
In the last chapter we had a glimpse of Pandas. In this chapter we will learn about resampling methods and the DataFrame object, which is a powerful tool for financial data analysis.

# Fetching Data
Here we use the Yahoo Finance to retrieve data.

In [187]:
!pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.63.tar.gz (26 kB)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.9)
Collecting lxml>=4.5.1
  Downloading lxml-4.6.3-cp37-cp37m-manylinux2014_x86_64.whl (6.3 MB)
     |████████████████████████████████| 6.3 MB 6.6 MB/s
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2021.5.30)
Building wheels for collected packages: yfinance
  Building wheel for yfinance (setup.py) ... done
  Created wheel for yfinance: filename=yfinance-0.1.63-py2.py3-none-any.whl size=23918 sha256=55094a0ab4c44ea6e5faf926ef45a24671326e5c772f765a9d853771d276173a
  Stored in directory: /root/.cache/pip/wheels/fe/87/8b/7ec24486e001d3926537f5f7801f57a74d181be25b11157983
Successfully built yfinance
Installing collected packages: lxml, yfinance
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
Successfully installed lxml-4.6.3 yfinance-0.1.63

In [188]:
import yfinance as yf

aapl = yf.Ticker("AAPL")

# get stock info
print(aapl.info)

# get historical market data
aapl_table = aapl.history(start="2016-01-01",  end="2017-12-31")
aapl_table

{'zip': '95014', 'sector': 'Technology', 'fullTimeEmployees': 147000, 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. The company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, HomePod, iPod touch, and other Apple-branded and third-party accessories. It also provides AppleCare support services; cloud services store services; and operates various platforms, including the App Store, that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. In addition, the company offers various services, such as Apple Arcade, a game subscription service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It sells and delivers third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was founded in 1977 and is headquartered in Cupertino, California.', 'city': 'Cupertino', 'phone': '408-996-1010', 'state': 'CA', 'country': 'United States', 'companyOfficers': [], 'website': 'http://www.apple.com', 'maxAge': 1, 'address1': 'One Apple Park Way', 'industry': 'Consumer Electronics', 'ebitdaMargins': 0.31955, 'profitMargins': 0.25004, 'grossMargins': 0.41005, 'operatingCashflow': 104414003200, 'revenueGrowth': 0.364, 'operatingMargins': 0.28788, 'ebitda': 110934999040, 'targetLowPrice': 132, 'recommendationKey': 'buy', 'grossProfits': 104956000000, 'freeCashflow': 80625876992, 'targetMedianPrice': 169.64, 'currentPrice': 145.07, 'earningsGrowth': 1, 'currentRatio': 1.062, 'returnOnAssets': 0.19302, 'numberOfAnalystOpinions': 42, 'targetMeanPrice': 167.92, 'debtToEquity': 210.782, 'returnOnEquity': 1.27125, 'targetHighPrice': 190, 'totalCash': 61696000000, 'totalDebt': 135491002368, 'totalRevenue': 347155005440, 'totalCashPerShare': 3.732, 'financialCurrency': 'USD', 'revenuePerShare': 20.61, 'quickRatio': 0.887, 'recommendationMean': 1.9, 'exchange': 'NMS', 'shortName': 'Apple Inc.', 'longName': 'Apple Inc.', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'EQUITY', 'symbol': 'AAPL', 'messageBoardId': 'finmb_24937', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 7.109, 'beta3Year': None, 'enterpriseToEbitda': 22.247, '52WeekChange': 0.24883604, 'morningStarRiskRating': None, 'forwardEps': 5.68, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 16530199552, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 3.882, 'sharesShort': 101107412, 'sharesPercentSharesOut': 0.0061000003, 'fundFamily': None, 'lastFiscalYearEnd': 1601078400, 'heldPercentInstitutions': 0.58701, 'netIncomeToCommon': 86801997824, 'trailingEps': 5.108, 'lastDividendValue': 0.22, 'SandP52WeekChange': 0.3047781, 'priceToBook': 37.369915, 'heldPercentInsiders': 0.00072999997, 'nextFiscalYearEnd': 1664150400, 'yield': None, 'mostRecentQuarter': 1624665600, 'shortRatio': 1.18, 'sharesShortPreviousMonthDate': 1630368000, 'floatShares': 16512974627, 'beta': 1.222222, 'enterpriseValue': 2468024156160, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': 1598832000, 'lastSplitFactor': '4:1', 'legalType': None, 'lastDividendDate': 1628208000, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': 0.932, 'priceToSalesTrailing12Months': 6.9076815, 'dateShortInterest': 1632960000, 'pegRatio': 1.38, 'ytdReturn': None, 'forwardPE': 25.540495, 'lastCapGain': None, 'shortPercentOfFloat': 0.0061000003, 'sharesShortPriorMonth': 96838699, 'impliedSharesOutstanding': None, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 144.84, 'regularMarketOpen': 143.445, 'twoHundredDayAverage': 138.76833, 'trailingAnnualDividendYield': 0.005764982, 'payoutRatio': 0.16309999, 'volume24Hr': None, 'regularMarketDayHigh': 145.5199, 'navPrice': None, 'averageDailyVolume10Day': 68793633, 'regularMarketPreviousClose': 144.84, 'fiftyDayAverage': 146.59706, 'trailingAnnualDividendRate': 0.835, 'open': 143.445, 'toCurrency': None, 'averageVolume10days': 68793633, 'expireDate': None, 'algorithm': None, 'dividendRate': 0.88, 'exDividendDate': 1628208000, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 143.16, 'currency': 'USD', 'trailingPE': 28.40055, 'regularMarketVolume': 43614426, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 2398036164608, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 77415270, 'dayLow': 143.16, 'ask': 145.12, 'askSize': 1300, 'volume': 43614426, 'fiftyTwoWeekHigh': 157.26, 'fromCurrency': None, 'fiveYearAvgDividendYield': 1.24, 'fiftyTwoWeekLow': 107.32, 'bid': 145.11, 'tradeable': False, 'dividendYield': 0.0061000003, 'bidSize': 1300, 'dayHigh': 145.5199, 'regularMarketPrice': 145.07, 'logo_url': 'https://logo.clearbit.com/apple.com'}

                 Open       High        Low  ...     Volume  Dividends  Stock Splits
Date                                         ...
2016-01-04  23.655164  24.291441  23.514538  ...  270597600        0.0             0
2016-01-05  24.379045  24.402098  23.609059  ...  223164000        0.0             0
2016-01-06  23.182569  23.599838  23.023501  ...  273829600        0.0             0
2016-01-07  22.749166  23.083441  22.230463  ...  324377600        0.0             0
2016-01-08  22.719197  22.848296  22.306540  ...  283192000        0.0             0
...               ...        ...        ...  ...        ...        ...           ...
2017-12-22  41.827749  42.004946  41.784649  ...   65397600        0.0             0
2017-12-26  40.898675  41.059108  40.630484  ...  132742000        0.0             0
2017-12-27  40.731061  40.893888  40.637675  ...   85992800        0.0             0
2017-12-28  40.946557  41.150094  40.822040  ...   65920800        0.0             0
2017-12-29  40.831625  40.848385  40.520335  ...  103999600        0.0             0

[503 rows x 7 columns]

In [189]:
tesla = yf.Ticker('TSLA')
print(tesla.info)
tesla_tabla=tesla.history(start='2020-01-01', end='2021-06-30')
tesla_tabla

{'zip': '94304', 'sector': 'Consumer Cyclical', 'fullTimeEmployees': 70757, 'longBusinessSummary': 'Tesla, Inc. designs, develops, manufactures, leases, and sells electric vehicles, and energy generation and storage systems in the United States, China, and internationally. The company operates in two segments, Automotive, and Energy Generation and Storage. The Automotive segment offers electric vehicles, as well as sells automotive regulatory credits. It provides sedans and sport utility vehicles through direct and used vehicle sales, a network of Tesla Superchargers, and in-app upgrades; and purchase financing and leasing services. This segment is also involved in the provision of non-warranty after-sales vehicle services, sale of used vehicles, retail merchandise, and vehicle insurance, as well as sale of products through its subsidiaries to third party customers; services for electric vehicles through its company-owned service locations, and Tesla mobile service technicians; and vehicle limited warranties and extended service plans. The Energy Generation and Storage segment engages in the design, manufacture, installation, sale, and leasing of solar energy generation and energy storage products, and related services to residential, commercial, and industrial customers and utilities through its website, stores, and galleries, as well as through a network of channel partners. This segment also offers service and repairs to its energy product customers, including under warranty; and various financing options to its solar customers. The company was formerly known as Tesla Motors, Inc. and changed its name to Tesla, Inc. in February 2017. Tesla, Inc. was founded in 2003 and is headquartered in Palo Alto, California.', 'city': 'Palo Alto', 'phone': '650-681-5000', 'state': 'CA', 'country': 'United States', 'companyOfficers': [], 'website': 'http://www.tesla.com', 'maxAge': 1, 'address1': '3500 Deer Creek Road', 'industry': 'Auto Manufacturers', 'ebitdaMargins': 0.13738, 'profitMargins': 0.0521, 'grossMargins': 0.22044, 'operatingCashflow': 9184000000, 'revenueGrowth': 0.981, 'operatingMargins': 0.07756, 'ebitda': 5751000064, 'targetLowPrice': 67, 'recommendationKey': 'hold', 'grossProfits': 6630000000, 'freeCashflow': 4515624960, 'targetMedianPrice': 755, 'currentPrice': 866.4, 'earningsGrowth': 9.2, 'currentRatio': 1.508, 'returnOnAssets': 0.043509997, 'numberOfAnalystOpinions': 37, 'targetMeanPrice': 700.3, 'debtToEquity': 42.552, 'returnOnEquity': 0.12275, 'targetHighPrice': 1591, 'totalCash': 16229000192, 'totalDebt': 11169999872, 'totalRevenue': 41862000640, 'totalCashPerShare': 16.393, 'financialCurrency': 'USD', 'revenuePerShare': 43.812, 'quickRatio': 1.123, 'recommendationMean': 2.6, 'exchange': 'NMS', 'shortName': 'Tesla, Inc.', 'longName': 'Tesla, Inc.', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'EQUITY', 'symbol': 'TSLA', 'messageBoardId': 'finmb_27444752', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 19.851, 'beta3Year': None, 'enterpriseToEbitda': 144.497, '52WeekChange': 0.9567579, 'morningStarRiskRating': None, 'forwardEps': 7.26, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 1001769984, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 25.207, 'sharesShort': 29205723, 'sharesPercentSharesOut': 0.0292, 'fundFamily': None, 'lastFiscalYearEnd': 1609372800, 'heldPercentInstitutions': 0.41431, 'netIncomeToCommon': 2150000128, 'trailingEps': 1.897, 'lastDividendValue': None, 'SandP52WeekChange': 0.3047781, 'priceToBook': 34.371407, 'heldPercentInsiders': 0.18962, 'nextFiscalYearEnd': 1672444800, 'yield': None, 'mostRecentQuarter': 1625011200, 'shortRatio': 1.56, 'sharesShortPreviousMonthDate': 1630368000, 'floatShares': 801734075, 'beta': 1.89365, 'enterpriseValue': 830999494656, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': 1598832000, 'lastSplitFactor': '5:1', 'legalType': None, 'lastDividendDate': None, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': 9.981, 'priceToSalesTrailing12Months': 20.733208, 'dateShortInterest': 1632960000, 'pegRatio': 2.47, 'ytdReturn': None, 'forwardPE': 119.338844, 'lastCapGain': None, 'shortPercentOfFloat': 0.0359, 'sharesShortPriorMonth': 27432219, 'impliedSharesOutstanding': None, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 843.03, 'regularMarketOpen': 851.79, 'twoHundredDayAverage': 688.32416, 'trailingAnnualDividendYield': None, 'payoutRatio': 0, 'volume24Hr': None, 'regularMarketDayHigh': 866.4, 'navPrice': None, 'averageDailyVolume10Day': 16352783, 'regularMarketPreviousClose': 843.03, 'fiftyDayAverage': 766.73267, 'trailingAnnualDividendRate': None, 'open': 851.79, 'toCurrency': None, 'averageVolume10days': 16352783, 'expireDate': None, 'algorithm': None, 'dividendRate': None, 'exDividendDate': None, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 851.47, 'currency': 'USD', 'trailingPE': 456.72116, 'regularMarketVolume': 13559558, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 867933552640, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 18495428, 'dayLow': 851.47, 'ask': 863.4, 'askSize': 900, 'volume': 13559558, 'fiftyTwoWeekHigh': 900.4, 'fromCurrency': None, 'fiveYearAvgDividendYield': None, 'fiftyTwoWeekLow': 379.11, 'bid': 863.39, 'tradeable': False, 'dividendYield': None, 'bidSize': 900, 'dayHigh': 866.4, 'regularMarketPrice': 866.4, 'logo_url': 'https://logo.clearbit.com/tesla.com'}

                  Open        High  ...  Dividends  Stock Splits
Date                                ...
2020-01-02   84.900002   86.139999  ...          0           0.0
2020-01-03   88.099998   90.800003  ...          0           0.0
2020-01-06   88.094002   90.311996  ...          0           0.0
2020-01-07   92.279999   94.325996  ...          0           0.0
2020-01-08   94.739998   99.697998  ...          0           0.0
...                ...         ...  ...        ...           ...
2021-06-23  632.000000  657.200012  ...          0           0.0
2021-06-24  674.989990  697.619995  ...          0           0.0
2021-06-25  689.580017  693.809998  ...          0           0.0
2021-06-28  671.640015  694.700012  ...          0           0.0
2021-06-29  684.650024  687.510010  ...          0           0.0

[376 rows x 7 columns]

We will create a Series named "aapl" whose values are Apple's daily closing prices, which are of course indexed by dates:

In [ ]:
aapl = aapl_table['Close']['2017']

In [ ]:
print(aapl)

Date
2017-01-03    27.372364
2017-01-04    27.341724
2017-01-05    27.480768
2017-01-06    27.787132
2017-01-09    28.041645
                ...
2017-12-22    41.906776
2017-12-26    40.843601
2017-12-27    40.850777
2017-12-28    40.965721
2017-12-29    40.522736
Name: Close, Length: 251, dtype: float64

In [192]:
tesla = tesla_tabla['Close']['2021']
print(tesla)

Date
2021-01-04    729.770020
2021-01-05    735.109985
2021-01-06    755.979980
2021-01-07    816.039978
2021-01-08    880.020020
                 ...
2021-06-23    656.570007
2021-06-24    679.820007
2021-06-25    671.869995
2021-06-28    688.719971
2021-06-29    680.760010
Name: Close, Length: 123, dtype: float64

Recall that we can fetch a specific data point using series['yyyy-mm-dd']. We can also fetch the data in a specific month using series['yyyy-mm'].

In [ ]:
print(aapl['2017-3'])

Date
2017-03-01    33.086281
2017-03-02    32.889839
2017-03-03    33.083920
2017-03-06    32.979778
2017-03-07    33.022373
2017-03-08    32.899296
2017-03-09    32.823563
2017-03-10    32.932434
2017-03-13    32.946640
2017-03-14    32.896942
2017-03-15    33.244865
2017-03-16    33.299305
2017-03-17    33.133617
2017-03-20    33.481544
2017-03-21    33.098122
2017-03-22    33.472084
2017-03-23    33.353741
2017-03-24    33.287464
2017-03-27    33.344276
2017-03-28    34.035393
2017-03-29    34.111141
2017-03-30    34.066158
2017-03-31    34.002254
Name: Close, dtype: float64

In [ ]:
aapl['2017-2':'2017-4']

Date
2017-02-01    30.341726
2017-02-02    30.289885
2017-02-03    30.419493
2017-02-06    30.704651
2017-02-07    30.996870
                ...
2017-04-24    33.997528
2017-04-25    34.208179
2017-04-26    34.006985
2017-04-27    34.033024
2017-04-28    33.999889
Name: Close, Length: 61, dtype: float64

In [193]:
print(tesla['2021-01'])
tesla['2021-01':'2021-03']

Date
2021-01-04    729.770020
2021-01-05    735.109985
2021-01-06    755.979980
2021-01-07    816.039978
2021-01-08    880.020020
2021-01-11    811.190002
2021-01-12    849.440002
2021-01-13    854.409973
2021-01-14    845.000000
2021-01-15    826.159973
2021-01-19    844.549988
2021-01-20    850.450012
2021-01-21    844.989990
2021-01-22    846.640015
2021-01-25    880.799988
2021-01-26    883.090027
2021-01-27    864.159973
2021-01-28    835.429993
2021-01-29    793.530029
Name: Close, dtype: float64

Date
2021-01-04    729.770020
2021-01-05    735.109985
2021-01-06    755.979980
2021-01-07    816.039978
2021-01-08    880.020020
                 ...
2021-03-25    640.390015
2021-03-26    618.710022
2021-03-29    611.289978
2021-03-30    635.619995
2021-03-31    667.929993
Name: Close, Length: 61, dtype: float64

.head(N) and .tail(N) are methods for quickly accessing the first or last N elements.

In [ ]:
print(aapl.head(5))
print(aapl.tail(10))

Date
2017-01-03    27.372364
2017-01-04    27.341724
2017-01-05    27.480768
2017-01-06    27.787132
2017-01-09    28.041645
Name: Close, dtype: float64
Date
2017-12-15    41.657745
2017-12-18    42.244392
2017-12-19    41.794228
2017-12-20    41.748734
2017-12-21    41.906776
2017-12-22    41.906776
2017-12-26    40.843601
2017-12-27    40.850777
2017-12-28    40.965721
2017-12-29    40.522736
Name: Close, dtype: float64

In [194]:
print(tesla.head(2))
print(tesla.tail(5))

Date
2021-01-04    729.770020
2021-01-05    735.109985
Name: Close, dtype: float64
Date
2021-06-23    656.570007
2021-06-24    679.820007
2021-06-25    671.869995
2021-06-28    688.719971
2021-06-29    680.760010
Name: Close, dtype: float64

# Resampling
**_series.resample(freq)_** is a class called "DatetimeIndexResampler" which groups data in a Series object into regular time intervals. The argument "freq" determines the length of each interval.

**_series.resample.mean()_** is a complete statement that groups data into intervals, and then compute the mean of each interval. For example, if we want to aggregate the daily data into monthly data by mean:

In [ ]:
by_month = aapl.resample('M').mean()
print(by_month)

Date
2017-01-31    28.178332
2017-02-28    31.606276
2017-03-31    33.282219
2017-04-30    33.819262
2017-05-31    36.125686
2017-06-30    35.133984
2017-07-31    35.245242
2017-08-31    37.897228
2017-09-30    37.604739
2017-10-31    37.654550
2017-11-30    41.233914
2017-12-31    41.160038
Freq: M, Name: Close, dtype: float64

In [196]:
mes = tesla.resample('M').mean()
print(mes)

Date
2021-01-31    828.776839
2021-02-28    794.269470
2021-03-31    656.802607
2021-04-30    709.618094
2021-05-31    616.753000
2021-06-30    624.406195
Freq: M, Name: Close, dtype: float64

We can also aggregate the data by week:

In [ ]:
by_week = aapl.resample('W').mean()
print(by_week.head())

Date
2017-01-08    27.495497
2017-01-15    28.097734
2017-01-22    28.266116
2017-01-29    28.553982
2017-02-05    29.662543
Freq: W-SUN, Name: Close, dtype: float64

In [197]:
semana = tesla.resample('W').mean()
print(semana.tail())

Date
2021-06-06    600.227509
2021-06-13    605.502014
2021-06-20    612.365991
2021-06-27    650.560010
2021-07-04    684.739990
Freq: W-SUN, Name: Close, dtype: float64

We can also aggregate the data by month with max:

In [ ]:
aapl.resample('M').max()

Date
2017-01-31    28.739218
2017-02-28    32.451969
2017-03-31    34.111141
2017-04-30    34.264977
2017-05-31    37.099133
2017-06-30    36.944649
2017-07-31    36.471699
2017-08-31    39.129719
2017-09-30    39.141655
2017-10-31    40.332241
2017-11-30    42.050140
2017-12-31    42.244392
Freq: M, Name: Close, dtype: float64

In [198]:
tesla.resample('Y').max()

Date
2021-12-31    883.090027
Freq: A-DEC, Name: Close, dtype: float64

We can choose almost any frequency by using the format 'nf', where 'n' is an integer and 'f' is M for month, W for week and D for day.

In [ ]:
three_day = aapl.resample('3D').mean()
two_week = aapl.resample('2W').mean()
two_month = aapl.resample('2M').mean()


print(three_day)
print(two_week)
print(two_month )

Date
2017-01-03    27.398286
2017-01-06    27.787132
2017-01-09    28.110774
2017-01-12    28.078175
2017-01-15    28.279665
                ...
2017-12-17    42.019310
2017-12-20    41.854095
2017-12-23          NaN
2017-12-26    40.886700
2017-12-29    40.522736
Freq: 3D, Name: Close, Length: 121, dtype: float64
Date
2017-01-08    27.495497
2017-01-22    28.172571
2017-02-05    29.108263
2017-02-19    31.516817
2017-03-05    32.595556
2017-03-19    33.017881
2017-04-02    33.625218
2017-04-16    33.849726
2017-04-30    33.791843
2017-05-14    35.697633
2017-05-28    36.496181
2017-06-11    36.515007
2017-06-25    34.529047
2017-07-09    34.265135
2017-07-23    35.278873
2017-08-06    36.272775
2017-08-20    37.904119
2017-09-03    38.458793
2017-09-17    38.282708
2017-10-01    36.840876
2017-10-15    37.071593
2017-10-29    37.757321
2017-11-12    41.032237
2017-11-26    41.204375
2017-12-10    40.867067
2017-12-24    41.620866
2018-01-07    40.795709
Freq: 2W-SUN, Name: Close, dtype: float64
Date
2017-01-31    28.178332
2017-03-31    32.524054
2017-05-31    35.056855
2017-07-31    35.186964
2017-09-30    37.761187
2017-11-30    39.402611
2018-01-31    41.160038
Freq: 2M, Name: Close, dtype: float64

In [199]:
dos_dias = tesla.resample("2D").mean()
tres_semanas = tesla.resample("3W").mean()
cuatro_meses = tesla.resample("4M").mean()
print(dos_dias)
print(tres_semanas)
print(cuatro_meses)

Date
2021-01-04    732.440002
2021-01-06    786.009979
2021-01-08    880.020020
2021-01-10    811.190002
2021-01-12    851.924988
                 ...
2021-06-21    622.270020
2021-06-23    668.195007
2021-06-25    671.869995
2021-06-27    688.719971
2021-06-29    680.760010
Freq: 2D, Name: Close, Length: 89, dtype: float64
Date
2021-01-10    783.383997
2021-01-31    844.988569
2021-02-21    827.002851
2021-03-14    672.567334
2021-04-04    656.627141
2021-04-25    714.429997
2021-05-16    659.112667
2021-06-06    598.075718
2021-06-27    622.809338
2021-07-18    684.739990
Freq: 3W-SUN, Name: Close, dtype: float64
Date
2021-01-31    828.776839
2021-05-31    691.983372
2021-09-30    624.406195
Freq: 4M, Name: Close, dtype: float64

Besides the mean() method, other methods can also be used with the resampler:

In [ ]:
std = aapl.resample('W').std()
max = aapl.resample('W').max()
min = aapl.resample('W').min()


print(std)
print(max)
print(min)

Date
2017-01-08    0.203368
2017-01-15    0.072530
2017-01-22    0.025554
2017-01-29    0.245288
2017-02-05    0.943260
2017-02-12    0.252001
2017-02-19    0.231394
2017-02-26    0.059345
2017-03-05    0.340094
2017-03-12    0.076284
2017-03-19    0.177834
2017-03-26    0.157262
2017-04-02    0.319806
2017-04-09    0.128689
2017-04-16    0.212476
2017-04-23    0.174672
2017-04-30    0.090027
2017-05-07    0.235639
2017-05-14    0.352980
2017-05-21    0.536091
2017-05-28    0.060392
2017-06-04    0.281225
2017-06-11    0.620034
2017-06-18    0.382564
2017-06-25    0.128893
2017-07-02    0.264113
2017-07-09    0.158890
2017-07-16    0.404281
2017-07-23    0.124988
2017-07-30    0.384441
2017-08-06    0.924388
2017-08-13    0.467469
2017-08-20    0.435251
2017-08-27    0.275762
2017-09-03    0.251722
2017-09-10    0.381637
2017-09-17    0.294141
2017-09-24    0.735195
2017-10-01    0.354840
2017-10-08    0.204857
2017-10-15    0.118733
2017-10-22    0.517001
2017-10-29    0.680452
2017-11-05    0.560686
2017-11-12    0.190971
2017-11-19    0.436199
2017-11-26    0.563047
2017-12-03    0.427439
2017-12-10    0.073130
2017-12-17    0.205266
2017-12-24    0.194120
2017-12-31    0.190390
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.787132
2017-01-15    28.220753
2017-01-22    28.279665
2017-01-29    28.739218
2017-02-05    30.419493
2017-02-12    31.341911
2017-02-19    32.122974
2017-02-26    32.451969
2017-03-05    33.086281
2017-03-12    33.022373
2017-03-19    33.299305
2017-03-26    33.481544
2017-04-02    34.111141
2017-04-09    34.264977
2017-04-16    33.886284
2017-04-23    33.713501
2017-04-30    34.208179
2017-05-07    35.256695
2017-05-14    37.099133
2017-05-21    37.004063
2017-05-28    36.597664
2017-06-04    36.944649
2017-06-11    36.925632
2017-06-18    34.838963
2017-06-25    34.779545
2017-07-02    34.658337
2017-07-09    34.266190
2017-07-16    35.421230
2017-07-23    35.891800
2017-07-30    36.471699
2017-08-06    37.346291
2017-08-13    38.277939
2017-08-20    38.557095
2017-08-27    38.170567
2017-09-03    39.141655
2017-09-10    38.671623
2017-09-17    38.533234
2017-09-24    37.872326
2017-10-01    36.798645
2017-10-08    37.075409
2017-10-15    37.457165
2017-10-22    38.287479
2017-10-29    38.903053
2017-11-05    41.157795
2017-11-12    42.050140
2017-11-19    41.657745
2017-11-26    41.897190
2017-12-03    41.686470
2017-12-10    40.659222
2017-12-17    41.657745
2017-12-24    42.244392
2017-12-31    40.965721
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.341724
2017-01-15    28.041645
2017-01-22    28.227821
2017-01-29    28.272598
2017-02-05    28.597816
2017-02-12    30.704651
2017-02-19    31.547823
2017-02-26    32.314690
2017-03-05    32.409355
2017-03-12    32.823563
2017-03-19    32.896942
2017-03-26    33.098122
2017-04-02    33.344276
2017-04-09    33.926514
2017-04-16    33.384510
2017-04-23    33.296936
2017-04-30    33.997528
2017-05-07    34.681545
2017-05-14    36.215267
2017-05-21    35.708805
2017-05-28    36.443184
2017-06-04    36.305332
2017-06-11    35.406971
2017-06-18    33.812263
2017-06-25    34.463455
2017-07-02    34.147358
2017-07-09    33.921577
2017-07-16    34.475338
2017-07-23    35.544815
2017-07-30    35.530552
2017-08-06    35.347557
2017-08-13    37.058720
2017-08-20    37.578846
2017-08-27    37.509666
2017-09-03    38.526081
2017-09-10    37.848465
2017-09-17    37.764950
2017-09-24    36.240326
2017-10-01    35.920620
2017-10-08    36.619694
2017-10-15    37.182777
2017-10-22    37.216179
2017-10-29    37.261517
2017-11-05    39.778702
2017-11-12    41.575333
2017-11-19    40.486816
2017-11-26    40.702312
2017-12-03    40.582603
2017-12-10    40.470051
2017-12-17    41.114185
2017-12-24    41.748734
2017-12-31    40.522736
Freq: W-SUN, Name: Close, dtype: float64

In [201]:
desviacion = tesla.resample('M').std()
max = tesla.resample('M').max()
min = tesla.resample('M').min()


print(desviacion)
print(max)
print(min)

Date
2021-01-31    45.839115
2021-02-28    63.319732
2021-03-31    38.220538
2021-04-30    27.592306
2021-05-31    38.652519
2021-06-30    31.898388
Freq: M, Name: Close, dtype: float64
Date
2021-01-31    883.090027
2021-02-28    872.789978
2021-03-31    718.429993
2021-04-30    762.320007
2021-05-31    684.900024
2021-06-30    688.719971
Freq: M, Name: Close, dtype: float64
Date
2021-01-31    729.770020
2021-02-28    675.500000
2021-03-31    563.000000
2021-04-30    661.750000
2021-05-31    563.460022
2021-06-30    572.840027
Freq: M, Name: Close, dtype: float64

Often we want to calculate monthly returns of a stock, based on prices on the last day of each month. To fetch those prices, we use the series.resample.agg() method:

In [ ]:
last_day = aapl.resample('M').agg(lambda x: x[-1])
print(last_day)

Date
2017-01-31    28.597816
2017-02-28    32.423561
2017-03-31    34.002254
2017-04-30    33.999889
2017-05-31    36.305332
2017-06-30    34.228172
2017-07-31    35.347557
2017-08-31    39.129719
2017-09-30    36.772392
2017-10-31    40.332241
2017-11-30    41.150097
2017-12-31    40.522736
Freq: M, Name: Close, dtype: float64

In [204]:
ultimo_dia = tesla.resample('M').agg(lambda x:x[-1])
print(ultimo_dia)

Date
2021-01-31    729.770020
2021-02-28    839.809998
2021-03-31    718.429993
2021-04-30    661.750000
2021-05-31    684.900024
2021-06-30    623.900024
Freq: M, Name: Close, dtype: float64

Or directly calculate the monthly rates of return using the data for the first day and the last day:

In [ ]:
monthly_return = aapl.resample('M').agg(lambda x: x[-1]/x[0] - 1)
print(monthly_return)

Date
2017-01-31    0.044770
2017-02-28    0.068613
2017-03-31    0.027684
2017-04-30   -0.000348
2017-05-31    0.046463
2017-06-30   -0.059799
2017-07-31    0.036446
2017-08-31    0.097261
2017-09-30   -0.060530
2017-10-31    0.099018
2017-11-30    0.033422
2017-12-31   -0.010640
Freq: M, Name: Close, dtype: float64

In [206]:
retorno_mes = tesla.resample('M').agg(lambda x: x[-1]/x[0] -1)
print(retorno_mes)

Date
2021-01-31    0.087370
2021-02-28   -0.195651
2021-03-31   -0.070292
2021-04-30    0.072066
2021-05-31   -0.087137
2021-06-30    0.091136
Freq: M, Name: Close, dtype: float64

Series object also provides us some convenient methods to do some quick calculation.

In [ ]:
print(monthly_return.mean())
print(monthly_return.std())
print(monthly_return.max())

0.02686331860727394
0.052258487776588924
0.09901841642506737

In [207]:
print(retorno_mes.mean())
print(retorno_mes.std())
print(retorno_mes.max())

-0.017084595463756496
0.1184862259408244
0.0911363730189989

Another two methods frequently used on Series are .diff() and .pct_change(). The former calculates the difference between consecutive elements, and the latter calculates the percentage change.

In [ ]:
print(last_day.diff())
print(last_day.pct_change())

Date
2017-01-31         NaN
2017-02-28    3.825745
2017-03-31    1.578693
2017-04-30   -0.002365
2017-05-31    2.305443
2017-06-30   -2.077160
2017-07-31    1.119385
2017-08-31    3.782162
2017-09-30   -2.357327
2017-10-31    3.559849
2017-11-30    0.817856
2017-12-31   -0.627361
Freq: M, Name: Close, dtype: float64
Date
2017-01-31         NaN
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [208]:
print(ultimo_dia.diff())
print(ultimo_dia.pct_change())

Date
2021-01-31           NaN
2021-02-28    110.039978
2021-03-31   -121.380005
2021-04-30    -56.679993
2021-05-31     23.150024
2021-06-30    -61.000000
Freq: M, Name: Close, dtype: float64
Date
2021-01-31         NaN
2021-02-28    0.150787
2021-03-31   -0.144533
2021-04-30   -0.078894
2021-05-31    0.034983
2021-06-30   -0.089064
Freq: M, Name: Close, dtype: float64

Notice that we induced a NaN value while calculating percentage changes i.e. returns.

When dealing with NaN values, we usually either removing the data point or fill it with a specific value. Here we fill it with 0:

In [ ]:
daily_return = last_day.pct_change()
print(daily_return.fillna(0))

Date
2017-01-31    0.000000
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [209]:
retorno_dia = ultimo_dia.pct_change()
print(retorno_dia.fillna(0))

Date
2021-01-31    0.000000
2021-02-28    0.150787
2021-03-31   -0.144533
2021-04-30   -0.078894
2021-05-31    0.034983
2021-06-30   -0.089064
Freq: M, Name: Close, dtype: float64

Alternatively, we can fill a NaN with the next fitted value. This is called 'backward fill', or 'bfill' in short:

In [ ]:
daily_return = last_day.pct_change()
print(daily_return.fillna(method = 'bfill'))

Date
2017-01-31    0.133778
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [211]:
retorno_dia = ultimo_dia.pct_change()
print(retorno_dia.fillna(method='bfill'))

Date
2021-01-31    0.150787
2021-02-28    0.150787
2021-03-31   -0.144533
2021-04-30   -0.078894
2021-05-31    0.034983
2021-06-30   -0.089064
Freq: M, Name: Close, dtype: float64

As expected, since there is a 'backward fill' method, there must be a 'forward fill' method, or 'ffill' in short. However we can't use it here because the NaN is the first value.

We can also simply remove NaN values by **_.dropna()_**

In [ ]:
daily_return = last_day.pct_change()
daily_return.dropna()

Date
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [212]:
retorno_dia.dropna()

Date
2021-02-28    0.150787
2021-03-31   -0.144533
2021-04-30   -0.078894
2021-05-31    0.034983
2021-06-30   -0.089064
Freq: M, Name: Close, dtype: float64

# DataFrame
The **DataFrame** is the most commonly used data structure in Pandas. It is essentially a table, just like an Excel spreadsheet.

More precisely, a DataFrame is a collection of Series objects, each of which may contain different data types. A DataFrame can be created from various data types: dictionary, 2-D numpy.ndarray, a Series or another DataFrame.

## Create DataFrames
The most common method of creating a DataFrame is passing a dictionary:

In [213]:
import pandas as pd

dict = {'AAPL': [143.5, 144.09, 142.73, 144.18, 143.77],'GOOG':[898.7, 911.71, 906.69, 918.59, 926.99],
        'IBM':[155.58, 153.67, 152.36, 152.94, 153.49]}
data_index = pd.date_range('2017-07-03',periods = 5, freq = 'D')
df = pd.DataFrame(dict, index = data_index)
print(df)

              AAPL    GOOG     IBM
2017-07-03  143.50  898.70  155.58
2017-07-04  144.09  911.71  153.67
2017-07-05  142.73  906.69  152.36
2017-07-06  144.18  918.59  152.94
2017-07-07  143.77  926.99  153.49

In [254]:
dic = {'TSLA': [874.5, 752.9, 852.26, 801.46, 756.99],'SONY':[112.56, 105.15, 117.85, 109.69, 112.75],
        'WMG':[45.58, 44.67, 46.36, 43.94, 45.49]}
tabla_index = pd.date_range('2021-10-18',periods = 5, freq = 'D')
tabla = pd.DataFrame(dic, index = tabla_index)
print(tabla)

              TSLA    SONY    WMG
2021-10-18  874.50  112.56  45.58
2021-10-19  752.90  105.15  44.67
2021-10-20  852.26  117.85  46.36
2021-10-21  801.46  109.69  43.94
2021-10-22  756.99  112.75  45.49

## Manipulating DataFrames
We can fetch values in a DataFrame by columns and index. Each column in a DataFrame is essentially a Pandas Series. We can fetch a column by square brackets: **df['column_name']**

If a column name contains no spaces, then we can also use df.column_name to fetch a column:

In [223]:
df = aapl_table
print(df.Close.tail(5))
print(df['Volume'].tail(5))

Date
2017-12-22    41.906769
2017-12-26    40.843601
2017-12-27    40.850788
2017-12-28    40.965714
2017-12-29    40.522728
Name: Close, dtype: float64
Date
2017-12-22     65397600
2017-12-26    132742000
2017-12-27     85992800
2017-12-28     65920800
2017-12-29    103999600
Name: Volume, dtype: int64

In [216]:
tabla = tesla_tabla
print(tabla.Close.tail(10))
print(tabla['Volume'].tail(5))

Date
2021-06-16    604.869995
2021-06-17    616.599976
2021-06-18    623.309998
2021-06-21    620.830017
2021-06-22    623.710022
2021-06-23    656.570007
2021-06-24    679.820007
2021-06-25    671.869995
2021-06-28    688.719971
2021-06-29    680.760010
Name: Close, dtype: float64
Date
2021-06-23    31099200
2021-06-24    45982400
2021-06-25    32496700
2021-06-28    21628200
2021-06-29    17381300
Name: Volume, dtype: int64

All the methods we applied to a Series index such as iloc[], loc[] and resampling methods, can also be applied to a DataFrame:

In [224]:
aapl_2016 = df['2016']
aapl_month = aapl_2016.resample('M').agg(lambda x: x[-1])
print(aapl_month)

                 Open       High        Low  ...     Volume  Dividends  Stock Splits
Date                                         ...
2016-01-31  21.852388  22.440250  21.750952  ...  257666000        0.0             0
2016-02-29  22.450757  22.768304  22.402082  ...  140865200        0.0             0
2016-03-31  25.431516  25.473238  25.236815  ...  103553600        0.0             0
2016-04-30  21.785531  21.954736  21.442489  ...  274126000        0.0             0
2016-05-31  23.226403  23.412961  23.044510  ...  169228800        0.0             0
2016-06-30  22.023112  22.333262  21.990464  ...  143345600        0.0             0
2016-07-31  24.296782  24.380733  24.177851  ...  110934800        0.0             0
2016-08-31  24.773059  24.986417  24.768369  ...  118649600        0.0             0
2016-09-30  26.367388  26.580747  26.212645  ...  145516400        0.0             0
2016-10-31  26.646398  26.782385  26.540890  ...  105677600        0.0             0
2016-11-30  26.300095  26.441493  25.986662  ...  144649200        0.0             0
2016-12-31  27.490197  27.619811  27.202687  ...  122345200        0.0             0

[12 rows x 7 columns]

In [217]:
tesla_2021 = tabla['2021']
tesla_mes = tesla_2021.resample('M').agg(lambda x: x[-1])
print(tesla_mes)

                  Open        High  ...  Dividends  Stock Splits
Date                                ...
2021-01-31  830.000000  842.409973  ...          0           0.0
2021-02-28  700.000000  706.700012  ...          0           0.0
2021-03-31  646.619995  672.000000  ...          0           0.0
2021-04-30  667.590027  715.469971  ...          0           0.0
2021-05-31  628.500000  635.590027  ...          0           0.0
2021-06-30  684.650024  687.510010  ...          0           0.0

[6 rows x 7 columns]

We may select certain columns of a DataFrame using their names:

In [225]:
aapl_bar = aapl_month[['Open', 'High', 'Low', 'Close']]
print(aapl_bar)

                 Open       High        Low      Close
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250
2016-02-29  22.450757  22.768304  22.402082  22.411354
2016-03-31  25.431516  25.473238  25.236815  25.262312
2016-04-30  21.785531  21.954736  21.442489  21.727585
2016-05-31  23.226403  23.412961  23.044510  23.287035
2016-06-30  22.023112  22.333262  21.990464  22.293619
2016-07-31  24.296782  24.380733  24.177851  24.301445
2016-08-31  24.773059  24.986417  24.768369  24.876221
2016-09-30  26.367388  26.580747  26.212645  26.505720
2016-10-31  26.646398  26.782385  26.540890  26.620607
2016-11-30  26.300095  26.441493  25.986662  26.045578
2016-12-31  27.490197  27.619811  27.202687  27.294596

In [218]:
tesla_bar = tesla_mes[['Open', 'Close', 'High', 'Low' ]]
print(tesla_bar)

                  Open       Close        High         Low
Date
2021-01-31  830.000000  793.530029  842.409973  780.099976
2021-02-28  700.000000  675.500000  706.700012  659.510010
2021-03-31  646.619995  667.929993  672.000000  641.109985
2021-04-30  667.590027  709.440002  715.469971  666.140015
2021-05-31  628.500000  625.219971  635.590027  622.380005
2021-06-30  684.650024  680.760010  687.510010  675.890015

We can even specify both rows and columns using loc[]. The row indices and column names are separated by a comma:

In [ ]:
print(aapl_month.loc['2016-03':'2016-06',['Open', 'High', 'Low', 'Close']])

                 Open       High        Low      Close
Date
2016-03-31  25.431520  25.473242  25.236819  25.262316
2016-04-30  21.785529  21.954734  21.442488  21.727583
2016-05-31  23.226409  23.412967  23.044516  23.287041
2016-06-30  22.023112  22.333262  21.990464  22.293619

In [219]:
print(tesla_mes.loc['2021-04':'2021-06',['Open', 'High', 'Low', 'Close']])

                  Open        High         Low       Close
Date
2021-04-30  667.590027  715.469971  666.140015  709.440002
2021-05-31  628.500000  635.590027  622.380005  625.219971
2021-06-30  684.650024  687.510010  675.890015  680.760010

The subset methods in DataFrame is quite useful. By writing logical statements in square brackets, we can make customized subsets:

In [226]:
import numpy as np

above = aapl_bar[aapl_bar.Close > np.mean(aapl_bar.Close)]
print(above)

                 Open       High        Low      Close
Date
2016-03-31  25.431516  25.473238  25.236815  25.262312
2016-08-31  24.773059  24.986417  24.768369  24.876221
2016-09-30  26.367388  26.580747  26.212645  26.505720
2016-10-31  26.646398  26.782385  26.540890  26.620607
2016-11-30  26.300095  26.441493  25.986662  26.045578
2016-12-31  27.490197  27.619811  27.202687  27.294596

In [228]:
encima = tesla_bar[tesla_bar.Close > np.mean(tesla_bar.Close)]
print(encima)

                  Open       Close        High         Low
Date
2021-01-31  830.000000  793.530029  842.409973  780.099976
2021-04-30  667.590027  709.440002  715.469971  666.140015

## Data Validation
As mentioned, all methods that apply to a Series can also be applied to a DataFrame. Here we add a new column to an existing DataFrame:

In [ ]:
aapl_bar['rate_return'] = aapl_bar.Close.pct_change()
print(aapl_bar)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250          NaN
2016-02-29  22.450761  22.768308  22.402086  22.411358    -0.001288
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127210
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773054  24.986412  24.768364  24.876215     0.023652
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065505
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334
2016-11-30  26.300094  26.441492  25.986660  26.045576    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [234]:
tesla_bar['Tasa_retorno'] = tesla_bar.Close.pct_change()
print(tesla_bar)

                  Open       Close  ...  Tasa Retorno  Tasa_retorno
Date                                ...
2021-01-31  830.000000  793.530029  ...           NaN           NaN
2021-02-28  700.000000  675.500000  ...     -0.148740     -0.148740
2021-03-31  646.619995  667.929993  ...     -0.011207     -0.011207
2021-04-30  667.590027  709.440002  ...      0.062147      0.062147
2021-05-31  628.500000  625.219971  ...     -0.118713     -0.118713
2021-06-30  684.650024  680.760010  ...      0.088833      0.088833

[6 rows x 6 columns]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

Here the calculation introduced a NaN value. If the DataFrame is large, we would not be able to observe it. **isnull()** provides a convenient way to check abnormal values.

In [ ]:
missing = aapl_bar.isnull()
print(missing)
print('---------------------------------------------')
print(missing.describe())

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True
2016-02-29  False  False  False  False        False
2016-03-31  False  False  False  False        False
2016-04-30  False  False  False  False        False
2016-05-31  False  False  False  False        False
2016-06-30  False  False  False  False        False
2016-07-31  False  False  False  False        False
2016-08-31  False  False  False  False        False
2016-09-30  False  False  False  False        False
2016-10-31  False  False  False  False        False
2016-11-30  False  False  False  False        False
2016-12-31  False  False  False  False        False
---------------------------------------------
         Open   High    Low  Close rate_return
count      12     12     12     12          12
unique      1      1      1      1           2
top     False  False  False  False       False
freq       12     12     12     12          11

In [237]:
faltantes = tesla_bar.isnull()
print(faltantes)
print('-------------------------')
print(faltantes.describe())

             Open  Close   High    Low  Tasa Retorno  Tasa_retorno
Date
2021-01-31  False  False  False  False          True          True
2021-02-28  False  False  False  False         False         False
2021-03-31  False  False  False  False         False         False
2021-04-30  False  False  False  False         False         False
2021-05-31  False  False  False  False         False         False
2021-06-30  False  False  False  False         False         False
-------------------------
         Open  Close   High    Low Tasa Retorno Tasa_retorno
count       6      6      6      6            6            6
unique      1      1      1      1            2            2
top     False  False  False  False        False        False
freq        6      6      6      6            5            5

The row labelled "unique" indicates the number of unique values in each column. Since the "rate_return" column has 2 unique values, it has at least one missing value.

We can deduce the number of missing values by comparing "count" with "freq". There are 12 counts and 11 False values, so there is one True value which corresponds to the missing value.

We can also find the rows with missing values easily:

In [ ]:
print(missing[missing.rate_return == True])

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True

In [238]:
print(faltantes[faltantes.Tasa_retorno == True])

             Open  Close   High    Low  Tasa Retorno  Tasa_retorno
Date
2021-01-31  False  False  False  False          True          True

Usually when dealing with missing data, we either delete the whole row or fill it with some value. As we introduced in the Series chapter, the same method **dropna()** and **fillna()** can be applied to a DataFrame.

In [ ]:
drop = aapl_bar.dropna()
print(drop)
print('\n--------------------------------------------------\n')
fill = aapl_bar.fillna(0)
print(fill)

                 Open       High        Low      Close  rate_return
Date
2016-02-29  22.450761  22.768308  22.402086  22.411358    -0.001288
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127210
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773054  24.986412  24.768364  24.876215     0.023652
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065505
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334
2016-11-30  26.300094  26.441492  25.986660  26.045576    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955

--------------------------------------------------

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250     0.000000
2016-02-29  22.450761  22.768308  22.402086  22.411358    -0.001288
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127210
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773054  24.986412  24.768364  24.876215     0.023652
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065505
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334
2016-11-30  26.300094  26.441492  25.986660  26.045576    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955

In [239]:
drop1 = tesla_bar.dropna()
print(drop1)
print('\n--------------------------------------------------\n')
fill1 = tesla_bar.fillna(0)
print(fill1)

                  Open       Close  ...  Tasa Retorno  Tasa_retorno
Date                                ...
2021-02-28  700.000000  675.500000  ...     -0.148740     -0.148740
2021-03-31  646.619995  667.929993  ...     -0.011207     -0.011207
2021-04-30  667.590027  709.440002  ...      0.062147      0.062147
2021-05-31  628.500000  625.219971  ...     -0.118713     -0.118713
2021-06-30  684.650024  680.760010  ...      0.088833      0.088833

[5 rows x 6 columns]

--------------------------------------------------

                  Open       Close  ...  Tasa Retorno  Tasa_retorno
Date                                ...
2021-01-31  830.000000  793.530029  ...      0.000000      0.000000
2021-02-28  700.000000  675.500000  ...     -0.148740     -0.148740
2021-03-31  646.619995  667.929993  ...     -0.011207     -0.011207
2021-04-30  667.590027  709.440002  ...      0.062147      0.062147
2021-05-31  628.500000  625.219971  ...     -0.118713     -0.118713
2021-06-30  684.650024  680.760010  ...      0.088833      0.088833

[6 rows x 6 columns]

## DataFrame Concat
We have seen how to extract a Series from a dataFrame. Now we need to consider how to merge a Series or a DataFrame into another one.

In Pandas, the function **concat()** allows us to merge multiple Series into a DataFrame:

In [ ]:
s1 = pd.Series([143.5, 144.09, 142.73, 144.18, 143.77], name = 'AAPL')
s2 = pd.Series([898.7, 911.71, 906.69, 918.59, 926.99], name = 'GOOG')
data_frame = pd.concat([s1,s2], axis = 1)
print(data_frame)

     AAPL    GOOG
0  143.50  898.70
1  144.09  911.71
2  142.73  906.69
3  144.18  918.59
4  143.77  926.99

In [240]:
x1 = pd.Series([874.5, 752.9, 852.26, 801.46, 756.99], name='TSLA')
x2 = pd.Series([112.56, 105.15, 117.85, 109.69, 112.75], name='SONY')
frame= pd.concat([x1,x2], axis=1)
print(frame)

     TSLA    SONY
0  874.50  112.56
1  752.90  105.15
2  852.26  117.85
3  801.46  109.69
4  756.99  112.75

The "axis = 1" parameter will join two DataFrames by columns:

In [ ]:
log_price = np.log(aapl_bar.Close)
log_price.name = 'log_price'
print(log_price)
print('\n---------------------- separate line--------------------\n')
concat = pd.concat([aapl_bar, log_price], axis = 1)
print(concat)

Date
2016-01-31    3.110856
2016-02-29    3.109568
2016-03-31    3.229314
2016-04-30    3.078583
2016-05-31    3.147897
2016-06-30    3.104301
2016-07-31    3.190536
2016-08-31    3.213912
2016-09-30    3.277361
2016-10-31    3.281686
2016-11-30    3.259848
2016-12-31    3.306689
Freq: M, Name: log_price, dtype: float64

---------------------- separate line--------------------

                 Open       High        Low      Close  rate_return  log_price
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250          NaN   3.110856
2016-02-29  22.450761  22.768308  22.402086  22.411358    -0.001288   3.109568
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127210   3.229314
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921   3.078583
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773   3.147897
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660   3.104301
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063   3.190536
2016-08-31  24.773054  24.986412  24.768364  24.876215     0.023652   3.213912
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065505   3.277361
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334   3.281686
2016-11-30  26.300094  26.441492  25.986660  26.045576    -0.021601   3.259848
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955   3.306689

In [241]:
precio_log = np.log(tesla_bar.Close)
precio_log.name = 'Precio_log'
print(precio_log)
print('\n---------------------- separate line--------------------\n')
conc = pd.concat([tesla_bar, precio_log], axis = 1)
print(conc)

Date
2021-01-31    6.676491
2021-02-28    6.515453
2021-03-31    6.504183
2021-04-30    6.564476
2021-05-31    6.438104
2021-06-30    6.523210
Freq: M, Name: Precio_log, dtype: float64

---------------------- separate line--------------------

                  Open       Close  ...  Tasa_retorno  Precio_log
Date                                ...
2021-01-31  830.000000  793.530029  ...           NaN    6.676491
2021-02-28  700.000000  675.500000  ...     -0.148740    6.515453
2021-03-31  646.619995  667.929993  ...     -0.011207    6.504183
2021-04-30  667.590027  709.440002  ...      0.062147    6.564476
2021-05-31  628.500000  625.219971  ...     -0.118713    6.438104
2021-06-30  684.650024  680.760010  ...      0.088833    6.523210

[6 rows x 7 columns]

We can also join two DataFrames by rows. Consider these two DataFrames:

In [ ]:
df_volume = aapl_table.loc['2016-10':'2017-04',['Volume', 'Stock Splits']].resample('M').agg(lambda x: x[-1])
print(df_volume)
print('\n---------------------- separate line--------------------\n')
df_2017 = aapl_table.loc['2016-10':'2017-04',['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1])
print(df_2017)

               Volume  Stock Splits
Date
2016-10-31  105677600             0
2016-11-30  144649200             0
2016-12-31  122345200             0
2017-01-31  196804000             0
2017-02-28   93931600             0
2017-03-31   78646800             0
2017-04-30   83441600             0

---------------------- separate line--------------------

                 Open       High        Low      Close
Date
2016-10-31  26.646396  26.782384  26.540888  26.620605
2016-11-30  26.300094  26.441492  25.986660  26.045576
2016-12-31  27.490193  27.619807  27.202683  27.294592
2017-01-31  28.550684  28.607243  28.425783  28.597816
2017-02-28  32.444862  32.530069  32.354920  32.423561
2017-03-31  34.016455  34.146633  33.848407  34.002254
2017-04-30  34.104032  34.153737  33.909951  33.999889

In [244]:
frame_volume= tesla_tabla.loc['2021-01':'2021-06',['Volume', 'Stock Splits']].resample('M').agg(lambda x: x[-1])
print(frame_volume)       

frame_2021 = tesla_tabla.loc['2021-01':'2021-06',['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1])
print(frame_2021)

              Volume  Stock Splits
Date
2021-01-31  34990800           0.0
2021-02-28  41089200           0.0
2021-03-31  33337300           0.0
2021-04-30  40758700           0.0
2021-05-31  22737000           0.0
2021-06-30  17381300           0.0
                  Open        High         Low       Close
Date
2021-01-31  830.000000  842.409973  780.099976  793.530029
2021-02-28  700.000000  706.700012  659.510010  675.500000
2021-03-31  646.619995  672.000000  641.109985  667.929993
2021-04-30  667.590027  715.469971  666.140015  709.440002
2021-05-31  628.500000  635.590027  622.380005  625.219971
2021-06-30  684.650024  687.510010  675.890015  680.760010

Now we merge the DataFrames with our DataFrame 'aapl_bar'

In [ ]:
concat = pd.concat([aapl_bar, df_volume], axis = 1)
print(concat)

                 Open       High  ...       Volume  Stock Splits
Date                              ...
2016-01-31  21.852388  22.440250  ...          NaN           NaN
2016-02-29  22.450761  22.768308  ...          NaN           NaN
2016-03-31  25.431520  25.473242  ...          NaN           NaN
2016-04-30  21.785529  21.954734  ...          NaN           NaN
2016-05-31  23.226409  23.412967  ...          NaN           NaN
2016-06-30  22.023112  22.333262  ...          NaN           NaN
2016-07-31  24.296780  24.380731  ...          NaN           NaN
2016-08-31  24.773054  24.986412  ...          NaN           NaN
2016-09-30  26.367388  26.580747  ...          NaN           NaN
2016-10-31  26.646396  26.782384  ...  105677600.0           0.0
2016-11-30  26.300094  26.441492  ...  144649200.0           0.0
2016-12-31  27.490193  27.619807  ...  122345200.0           0.0
2017-01-31        NaN        NaN  ...  196804000.0           0.0
2017-02-28        NaN        NaN  ...   93931600.0           0.0
2017-03-31        NaN        NaN  ...   78646800.0           0.0
2017-04-30        NaN        NaN  ...   83441600.0           0.0

[16 rows x 7 columns]

In [246]:
conca = pd.concat([tesla_bar, frame_volume], axis = 1)
print(conca)

                  Open       Close  ...    Volume  Stock Splits
Date                                ...
2021-01-31  830.000000  793.530029  ...  34990800           0.0
2021-02-28  700.000000  675.500000  ...  41089200           0.0
2021-03-31  646.619995  667.929993  ...  33337300           0.0
2021-04-30  667.590027  709.440002  ...  40758700           0.0
2021-05-31  628.500000  625.219971  ...  22737000           0.0
2021-06-30  684.650024  680.760010  ...  17381300           0.0

[6 rows x 8 columns]

By default the DataFrame are joined with all of the data. This default options results in zero information loss. We can also merge them by intersection, this is called 'inner join

In [ ]:
concat = pd.concat([aapl_bar,df_volume],axis = 1, join = 'inner')
print(concat)

                 Open       High  ...     Volume  Stock Splits
Date                              ...
2016-10-31  26.646396  26.782384  ...  105677600             0
2016-11-30  26.300094  26.441492  ...  144649200             0
2016-12-31  27.490193  27.619807  ...  122345200             0

[3 rows x 7 columns]

In [247]:
conca = pd.concat([tesla_bar,frame_volume],axis = 1, join = 'inner')
print(conca)

                  Open       Close  ...    Volume  Stock Splits
Date                                ...
2021-01-31  830.000000  793.530029  ...  34990800           0.0
2021-02-28  700.000000  675.500000  ...  41089200           0.0
2021-03-31  646.619995  667.929993  ...  33337300           0.0
2021-04-30  667.590027  709.440002  ...  40758700           0.0
2021-05-31  628.500000  625.219971  ...  22737000           0.0
2021-06-30  684.650024  680.760010  ...  17381300           0.0

[6 rows x 8 columns]

Only the intersection part was left if use 'inner join' method. Now let's try to append a DataFrame to another one:

In [ ]:
append = aapl_bar.append(df_2017)
print(append)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250          NaN
2016-02-29  22.450761  22.768308  22.402086  22.411358    -0.001288
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127210
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773054  24.986412  24.768364  24.876215     0.023652
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065505
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334
2016-11-30  26.300094  26.441492  25.986660  26.045576    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955
2016-10-31  26.646396  26.782384  26.540888  26.620605          NaN
2016-11-30  26.300094  26.441492  25.986660  26.045576          NaN
2016-12-31  27.490193  27.619807  27.202683  27.294592          NaN
2017-01-31  28.550684  28.607243  28.425783  28.597816          NaN
2017-02-28  32.444862  32.530069  32.354920  32.423561          NaN
2017-03-31  34.016455  34.146633  33.848407  34.002254          NaN
2017-04-30  34.104032  34.153737  33.909951  33.999889          NaN

In [248]:
ap = tesla_bar.append(frame_2021)
print(ap)

                  Open       Close  ...  Tasa Retorno  Tasa_retorno
Date                                ...
2021-01-31  830.000000  793.530029  ...           NaN           NaN
2021-02-28  700.000000  675.500000  ...     -0.148740     -0.148740
2021-03-31  646.619995  667.929993  ...     -0.011207     -0.011207
2021-04-30  667.590027  709.440002  ...      0.062147      0.062147
2021-05-31  628.500000  625.219971  ...     -0.118713     -0.118713
2021-06-30  684.650024  680.760010  ...      0.088833      0.088833
2021-01-31  830.000000  793.530029  ...           NaN           NaN
2021-02-28  700.000000  675.500000  ...           NaN           NaN
2021-03-31  646.619995  667.929993  ...           NaN           NaN
2021-04-30  667.590027  709.440002  ...           NaN           NaN
2021-05-31  628.500000  625.219971  ...           NaN           NaN
2021-06-30  684.650024  680.760010  ...           NaN           NaN

[12 rows x 6 columns]

'Append' is essentially to concat two DataFrames by axis = 0, thus here is an alternative way to append:

In [ ]:
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250          NaN
2016-02-29  22.450761  22.768308  22.402086  22.411358    -0.001288
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127210
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773054  24.986412  24.768364  24.876215     0.023652
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065505
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334
2016-11-30  26.300094  26.441492  25.986660  26.045576    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955
2016-10-31  26.646396  26.782384  26.540888  26.620605          NaN
2016-11-30  26.300094  26.441492  25.986660  26.045576          NaN
2016-12-31  27.490193  27.619807  27.202683  27.294592          NaN
2017-01-31  28.550684  28.607243  28.425783  28.597816          NaN
2017-02-28  32.444862  32.530069  32.354920  32.423561          NaN
2017-03-31  34.016455  34.146633  33.848407  34.002254          NaN
2017-04-30  34.104032  34.153737  33.909951  33.999889          NaN

In [251]:
conca = pd.concat([tesla_bar, frame_2021], axis = 0)
print(conca)

                  Open       Close  ...  Tasa Retorno  Tasa_retorno
Date                                ...
2021-01-31  830.000000  793.530029  ...           NaN           NaN
2021-02-28  700.000000  675.500000  ...     -0.148740     -0.148740
2021-03-31  646.619995  667.929993  ...     -0.011207     -0.011207
2021-04-30  667.590027  709.440002  ...      0.062147      0.062147
2021-05-31  628.500000  625.219971  ...     -0.118713     -0.118713
2021-06-30  684.650024  680.760010  ...      0.088833      0.088833
2021-01-31  830.000000  793.530029  ...           NaN           NaN
2021-02-28  700.000000  675.500000  ...           NaN           NaN
2021-03-31  646.619995  667.929993  ...           NaN           NaN
2021-04-30  667.590027  709.440002  ...           NaN           NaN
2021-05-31  628.500000  625.219971  ...           NaN           NaN
2021-06-30  684.650024  680.760010  ...           NaN           NaN

[12 rows x 6 columns]

Please note that if the two DataFrame have some columns with the same column names, these columns are considered to be the same and will be merged. It's very important to have the right column names. If we change a column names here:

In [ ]:
df_2017.columns = ['Change', 'High','Low','Close']
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

                 Open       High        Low      Close  rate_return     Change
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250          NaN        NaN
2016-02-29  22.450761  22.768308  22.402086  22.411358    -0.001288        NaN
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127210        NaN
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921        NaN
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773        NaN
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660        NaN
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063        NaN
2016-08-31  24.773054  24.986412  24.768364  24.876215     0.023652        NaN
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065505        NaN
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334        NaN
2016-11-30  26.300094  26.441492  25.986660  26.045576    -0.021601        NaN
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955        NaN
2016-10-31        NaN  26.782384  26.540888  26.620605          NaN  26.646396
2016-11-30        NaN  26.441492  25.986660  26.045576          NaN  26.300094
2016-12-31        NaN  27.619807  27.202683  27.294592          NaN  27.490193
2017-01-31        NaN  28.607243  28.425783  28.597816          NaN  28.550684
2017-02-28        NaN  32.530069  32.354920  32.423561          NaN  32.444862
2017-03-31        NaN  34.146633  33.848407  34.002254          NaN  34.016455
2017-04-30        NaN  34.153737  33.909951  33.999889          NaN  34.104032

In [252]:
frame_2021.columns = ['Change', 'High','Low','Close']
conca = pd.concat([tesla_bar,frame_2021], axis=0)
print(conca)

                  Open       Close  ...  Tasa_retorno      Change
Date                                ...
2021-01-31  830.000000  793.530029  ...           NaN         NaN
2021-02-28  700.000000  675.500000  ...     -0.148740         NaN
2021-03-31  646.619995  667.929993  ...     -0.011207         NaN
2021-04-30  667.590027  709.440002  ...      0.062147         NaN
2021-05-31  628.500000  625.219971  ...     -0.118713         NaN
2021-06-30  684.650024  680.760010  ...      0.088833         NaN
2021-01-31         NaN  793.530029  ...           NaN  830.000000
2021-02-28         NaN  675.500000  ...           NaN  700.000000
2021-03-31         NaN  667.929993  ...           NaN  646.619995
2021-04-30         NaN  709.440002  ...           NaN  667.590027
2021-05-31         NaN  625.219971  ...           NaN  628.500000
2021-06-30         NaN  680.760010  ...           NaN  684.650024

[12 rows x 7 columns]